torch
torchmetrics[image]
gymnasium[atari]
gym==0.26.2
shimmy>=0.2.1
ale-py
h5py
opencv-python
autorom
wandb
wandb[media]
tqdm
pillow
hydra-core
omegaconf
matplotlib
lpips
stable-baselines3
huggingface_hub
triton
